*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0 !important;
}

body{
    width: 100%;
}

a{
    text-decoration: none;
}


/* Containers settings */

.conteiner,
.conteiner-fluid{
    width: 100%;
    margin: 0 auto;
}

.conteiner{
    padding-left: 12.5%;
    padding-right: 12.5%;
}

.conteiner-fluid{
    padding: 70px 70px 0px 70px;
}

/* Displays settings */

.d-flex{
    display: flex;
}
.d-block{
    display: block;
}
.d-inline-block{
    display: inline-block;
}

/* Flex settings */

.align-items-center{
    align-items: center;
}
.flex-direction-column{
    flex-direction: column;   
}
.flex-direction-row{
    flex-direction: row;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
	justify-content: space-between;
}
.justify-content-flex-end{
    justify-content: flex-end;
}
.f-wrap{
    flex-wrap: wrap;
}


/* Lists settings */

.list-unstyled{
    list-style: none;
}

/* Paddings settings */

.p-l-30{
    padding-left: 3%;
}
.p-r-30{
    padding-right: 3%;
}
.p-r-0{
    padding-right: 0;
}


/* HEADER */

.logo{
    margin-right: auto;
    font-size: 30px;
    font-family: 'Inconsolata', monospace;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 0.8;
    letter-spacing: 10px;
}  
 
header a{
    padding: 0 50px;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    color: rgb(98, 98, 98);
    text-transform: uppercase;
    line-height: 1.714;
}


/* MAIN */

img{
    width: 100%;
    height: auto;
}

.main-photo{
    padding-bottom: 100px;  
}

small {
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(180, 173, 158);
    text-transform: uppercase;
    line-height: 1.2; 
}

p, input[placeholder] {
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    color: rgb(98, 98, 98);
    line-height: 1.714;
    margin-bottom: 50px;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    font-family: 'Playfair Display', serif;
    color: rgb(98, 98, 98);
    line-height: 1.2;
    padding: 30px 0px;
}

.news-item{
    flex: 50%;
}

.news-photo{
    flex: 0 0 200px;
    margin-top: 135px;
    margin-bottom: 30px;
}

.grey-zone{
    margin-top: 75px;
    height: 285px;
    background: #f0f0f0;   
}

input{
    border: none;
    background: #f0f0f0;
}

.email{
    width: 400px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    padding-top: 50px;
    margin-bottom: 30px; 
}

input[placeholder]{
    margin-bottom: 0;
}

.none-border{
    background: none;
    border:none;
    cursor: pointer;
}

.load_more {
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    color: rgb(98, 98, 98);
    line-height: 1.2;
    border: 1px solid #626262;
    padding: 20px 30px;
    display: block;
    margin: 0 auto;
    margin-top: 115px;
    margin-bottom: 300px;
}

/* FOOTER */

footer{
    height: 100px;
    background: #f0f0f0;
}

footer li{
    padding: 0 10px;
    font-size: 14px;  
    font-family: 'Playfair Display', serif;
    color: rgb(0, 0, 0);
}

.footer-left{
    margin-right: auto;
    padding-left: 150px;
}  
  
footer nav{
    padding-right: 100px;
}

i{
    color: #626262;
}

@media (max-width: 1024px){
    .logo{
        font-size: 25px;
        letter-spacing: 8px;
    }
    header a {
        padding: 0 40px;
        font-size: 13px;
    }
    h2 {
        font-size: 26px;
    }
    small {
        font-size: 12px;
    }
    .news-photo{
        margin-top: 100px;
        margin-bottom: 30px;
    }
    .m-b-40pxfor1024 {
        margin-bottom: 40px;
    }
    footer nav {
        padding-right: 60px;
    }
    .footer-left {
        padding-left: 120px;
    }
    footer li {
        font-size: 13px;
    }
}


@media (max-width: 768px){
    
}


@media (max-width: 576px){
    
}

@media (max-width: 320px){

    .conteiner-fluid{
        padding: 0;  
    }
    .conteiner{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    header nav{
        display: none;
    }
    .logo{
        padding-left: 2rem;
        padding-top: 2rem;
    }
    .main-photo img {
        padding-top: 3rem;
    }   
    img{
        display: block;
        margin: 0 auto;
        max-width: 300px;   
    }
    .news-item{
        flex: 100%;
        margin-left: 0;
    }
    .p-l-30{
        padding-left: 0;
    }
    .p-r-30{
        padding-right: 0;
    }
    .email{
        width: 250px;
        
      
    }
}

  

  


  
